<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.itcast.babasport.mapper.product.BrandMapper">
	
	<resultMap type="brand" id="brandMap">
		<result column="img_url" property="imgUrl"/>
		<result column="is_display" property="isDisplay"/>
	</resultMap>
	<sql id="query_brand_where">
		<where>
			<if test="name != null">
				and name like "%"#{name}"%"
			</if>
			<if test="isDisplay != null">
				and is_display = #{isDisplay} 
			</if>
		</where>
	</sql>
	<!-- 查询品牌列表 不分页 -->
	<select id="selectBrandListNoPage" parameterType="brandQuery" resultMap="brandMap">
		select id,name,description,img_url,sort,is_display from bbs_brand
		<include refid="query_brand_where"/>
	</select>
	<!-- 查询品牌列表 分页 -->
	<select id="selectBrandListHavePage" parameterType="brandQuery" resultMap="brandMap">
		select id,name,description,img_url,sort,is_display from bbs_brand
		<include refid="query_brand_where"/>
		order by id desc
		<if test="startRow != null">
			limit #{startRow},#{pageSize}
		</if>
	</select>
	<!-- 查询所有品牌的数量 -->
	<select id="selectBrandCount" parameterType="brandQuery" resultType="int">
		select count(*) from bbs_brand
		<include refid="query_brand_where"/>
	</select>
	<!-- 根据id查询品牌信息 -->
	<select id="selectBrandById" parameterType="Integer" resultMap="brandMap">
		select id,name,description,img_url,sort,is_display from bbs_brand
		where id = #{id}
	</select>
	<!-- 更新品牌信息 -->
	<update id="updateBrandById" parameterType="brand">
		update bbs_brand
		<set>
			<if test="name != null">
				name = #{name},
			</if>
			<if test="description != null">
				description = #{description},
			</if>
			<if test="imgUrl != null">
				img_url = #{imgUrl},
			</if>
			<if test="sort != null">
				sort = #{sort},
			</if>
			<if test="isDisplay != null">
				is_display = #{isDisplay}
			</if>
		</set>
		where id = #{id}
	</update>
	
	<!-- 添加品牌 -->
	<insert id="insertBrand" parameterType="brand">
		insert into bbs_brand(name,description,img_url,sort,is_display)
		values(#{name},#{description},#{imgUrl},#{sort},#{isDisplay})
	</insert>
	<!-- 批量删除品牌 -->
	<delete id="deleteBatchBrandByIds" parameterType="Integer[]">
		delete from bbs_brand
		<where>
			<foreach collection="array" item="id" open="id in(" separator="," close=")">
				#{id}
			</foreach>
		</where>
	</delete>
</mapper>